{% extends "review_assistant/base_generic.html" %}
{% block content %}
<div class="text-center">
  <main class="form-signin w-100 m-auto" style="width: 100%!important;max-width: 330px;padding: 15px;margin: auto!important;">
    <form method="post" action="">
        {% csrf_token %}
        <div class="form-floating">
            {% if form.email.errors %} {{ form.email.errors }} {% endif %}
            <input type="email" name="email" class="form-control" autocomplete="email" maxlength="254" required="" id="id_email" placeholder="mail">
            <label for="id_email">Почта</label>
        </div><br>
        <button class="w-100 btn btn-lg btn-primary" type="submit" value="Reset password">Сбросить пароль</button>
    </form>
  </main>
</div>

{% endblock %}