<div class="card my-1 " style="max-width: 300px;">
    <div class="card-header {% if task.hitch == True and task.execution_or_no == False %}text-bg-danger{% elif task.in_progres == True and task.execution_or_no == False %}text-bg-primary{% elif task.date_of_the_completed_correspondence != None and task.execution_or_no == False %}text-bg-warning{% elif task.date_of_writing_the_review != None and task.execution_or_no == False %}text-bg-warning{% else %}{% endif %}">
        <h5 class="card-title">Число - {{task.correspondence_date.date}}
            Задание - <a href="{% url 'task' task.id %}">№{{task.id}}</a></h5>
    </div>
    <div class="card-body">
        <div class="col flex-column" style="min-width: 250px;">
            {% if user.is_staff %}
                <p class="card-text">Исполнитель: <a href="{% url 'executor' task.executor_id.id %}">{{task.executor_id.name}}</a></p>
                <p class="card-text">Текст отзыва: {{task.text_review}}</p>
                <p class="card-text">Дата переписки: {{task.correspondence_date.date}} {{task.correspondence_date.time}}</p>
                <p class="card-text">Дата окончания переписки: {{task.date_of_the_completed_correspondence.date}} {{task.date_of_the_completed_correspondence.time}}</p>
                <p class="card-text">Дата отзыва: {{task.date_of_withdrawal.date}} {{task.date_of_withdrawal.time}}</p>
                <p class="card-text">Дата написания отзыва: {{task.date_of_writing_the_review.date}} {{task.date_of_writing_the_review.time}}</p>
                {% if not task.date_of_writing_the_review == None and not task.hitch and not task.execution_or_no %}
                    <label class="form-label">Скриншот отзыва</label><br>
                    <img src="{{task.image.img.url}}" class="img-thumbnail rounded" style="max-width: 250px;"><br>
                    <a href="{% url 'confirm_execution' task.id %}" class="btn btn-primary">Подтвердить исполнение</a>
                {% endif %}
                <div class="form-check m-2">
                  <input class="form-check-input" type="checkbox" value="" {% if task.in_progres == True %} checked {% endif %}  disabled>
                  <label class="form-check-label">
                      Выполняеться?
                  </label>
                </div>
                <div class="form-check m-2">
                  <input class="form-check-input" type="checkbox" value="" {% if task.execution_or_no == True %} checked {% endif %}  disabled>
                  <label class="form-check-label">
                      Исполненно?
                  </label>
                </div>
                <div class="form-check m-2">
                  <input class="form-check-input" type="checkbox" value="" {% if task.paymant == True %} checked {% endif %}  disabled>
                  <label class="form-check-label">
                      Оплачено?
                  </label>
                </div>
                <div class="form-check m-2">
                  <input class="form-check-input" type="checkbox" value="" {% if task.hitch == True %} checked {% endif %}  disabled>
                  <label class="form-check-label">
                      Заминки?
                  </label>
                </div>
            {% else %}
                {% if task.date_of_the_completed_correspondence == None and not task.hitch and task.correspondence_date < datetime %}
                    <p class="card-text">Пожалуйста начните переписку по обявлению на скриншоте</p>
                    <a href="{% url 'confirm_correspondence' task.id %}" class="btn btn-primary">Подтвердить переписку</a>
                {% elif task.date_of_the_completed_correspondence == None and task.hitch %}
                    <p class="card-text "><i class="bi bi-exclamation-circle-fill text-danger"></i> Вы не написали вовремя, задача приостановлена</p>
                {% elif not task.date_of_the_completed_correspondence == None and not task.hitch %}
                    <p class="card-text">Дата переписки: {{task.correspondence_date.date}} {{task.correspondence_date.time}}</p>
                    <p class="card-text"> <i class="bi bi-check-circle-fill text-success"></i> Дата окончания переписки: {{task.date_of_the_completed_correspondence.date}} {{task.date_of_the_completed_correspondence.time}}</p>

                    {% if task.date_of_writing_the_review == None and not task.hitch and task.date_of_withdrawal < datetime %}
                        <p class="card-text">Пожалуйста напишите отзыв по вашей переписке,<br> текст отзыва нельзя копировать введите его сами.</p>
                        <div class="mb-3">
                            <label class="form-label">Текст отзыва</label>
                            <textarea class="form-control disable" disabled rows="3">{{task.text_review}}</textarea>
                        </div>
                        <p class="card-text">Если вы написали отзыв сделайте скриншот и загрузите в форму ниже</p>
                        <form method="post" action="{% url 'add_image' task.id %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col-12 col-sm-10 p-1">
                                    <label class="form-label">{{form.image.label}}</label>
                                    {{form.image}}
                            </div>
                            <div class="p-2">
                                <button type="submit" class="btn btn-primary">Загрузить</button>
                            </div>
                        </form>

                    {% elif task.date_of_writing_the_review == None and task.hitch %}
                        <p class="card-text text-bg-danger"><i class="bi bi-exclamation-circle-fill text-danger"></i> Вы не подтвердили написание задача приостановлена</p>
                    {% elif not task.date_of_writing_the_review == None and not task.hitch %}
                        <p class="card-text">Дата отзыва: {{task.date_of_withdrawal.date}} {{task.date_of_withdrawal.time}}</p>
                        <p class="card-text"> <i class="bi bi-check-circle-fill text-success"></i> Дата написания отзыва: {{task.date_of_writing_the_review.date}} {{task.date_of_writing_the_review.time}}</p>
                    {% else %}
                        <p class="card-text"><i class="bi bi-clock-history text-primary"></i> Время дальнейшего выполнения не настало</p>
                    {% endif %}
                {% else %}
                    <p class="card-text"><i class="bi bi-clock-history text-primary"></i> Время выполнения не настало</p>
                {% endif %}
            {% endif %}
        </div>

    </div>
</div>