{% extends "base_generic.html" %}
{% block content %}
<div class="bd-example-snippet bd-code-snippet container">
    <h2 class="display-5">Заказчик</h2>
    <form method="post" action="/create_customer/" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="card h-auto" style="max-width: 400px;">
            <div class="card-body mb-3 p-2">
                <div class="col justify-content-center">
                {% for f in form %}
                    <div class="col-md p-1">
                    <label for="id_{{f.name}}" class="form-label">{{f.label}}</label>
                    {{f}}
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="card-footer">
                <a type="button" href="/customers" class="btn btn-secondary">Закрыть</a>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </form>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
    })()
    </script>
</div>
{% endblock %}