{% extends "review_assistant/base_generic.html" %}
{% block content %}
<div class="container">
    <h2 class="display-5">Исполнители</h2>
    {% if executors.count > 0 %}
        <div class="row row-cols-auto">
            {% for executor in executors %}
                <div class="m-2">
                    <div class="card h-auto shadow" style="width: 250px;">
                        <div class="card-header">
                            <h5 class="card-title">
                                <a href="{% url 'executor' executor.id %}"> №{{executor.id}} {{executor.name}}</a></h5>
                        </div>
                        <div class="card-body mb-3 p-2">
                            <p class="card-title">Исполнитель: {{executor.name}} {{executor.last_name}}</p>
                            <a href="{{executor.link_to_account}}" class="card-link">Ссылка на аккаунт</a><br>
                            <a href="tel:+{{executor.phone}}" class="card-link">{{executor.phone}}</a><br>
                        </div>
                        <div class="card-footer btn-group">
                                <a type="button" href="{% url 'delete_executor' executor.id %}" class="btn btn-danger btn-sm">Удалить</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}