{% extends "review_assistant/base_generic.html" %}
{% block content %}
<div class="row row-cols-auto">
{% if not executor.last_name and not executor.date_create and not executor.phone and not executor.card_number and not user.is_staff %}
    <div class="card m-3 p-2" style="max-width: 400px;">
        <p class="text-center">Пожалуйста добавьте свои данные </p>
        <a type="button" href="{% url 'edit_profile' %}" class="btn btn-primary">Добавить данные</a>
    </div>
{% endif %}
{% if today %}
    {% for task in today %}
    <div class="m-1">
        {% include "tasks/task_layout.html" %}
    </div>
    {% endfor %}
{% endif %}
</div>
<script>
</script>
{% endblock %}