{% extends "review_assistant/base_generic.html" %}
{% block content %}
<div class="bd-example-snippet bd-code-snippet container">
    <main class="form-signin w-100 m-auto" style="width: 100%!important;max-width: 400px;padding: 15px;margin: auto!important;">
    <h2 class="display-5">Регистрация</h2>
    <form method="post" action="{% url 'register' %}" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="card h-auto shadow" style="max-width: 400px;">
            <div class="card-body mb-3 p-2">
                <div class="col justify-content-center">
                {% for f in form %}
                    <div class="col-md p-1">
                    <label for="id_{{f.name}}" class="form-label">{{f.label}}</label>
                    {{f}}
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="card-footer">
                <button class="w-100 btn btn-lg btn-primary my-1" type="submit">Зарегистрироваться</button>
            </div>
        </div>
    </form>
    </main>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
    })()
    </script>
</div>
{% endblock %}