{% extends "review_assistant/base_generic.html" %}
{% block content %}
<div class="bd-example-snippet bd-code-snippet container">
    <h2>Форма добавления заказа</h2>
    <form method="post" action="{% url 'create_order' customer.id %}" class="needs-validation" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% include "orders/form_order.html" %}
        <div class="row g-5">
            <div class="col-4 p-1">
                <button type="submit" class="btn btn-primary ">Сохранить</button>
            </div>
        </div>
    </form>
</div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>
{% endblock %}