{% extends "review_assistant/base_generic.html" %}
{% block content %}
<div class="bd-example-snippet bd-code-snippet container">
    <div class="card mb-5 shadow" , style="max-width: 700px;">
        <div class="row g-0 d-flex">
            <div class="d-flex align-items-start flex-column">
                <div class="card-header w-100">
                    <h5 class="card-title">
                       №{{order.id}}
                    </h5>
                </div>
                <div class="card-body flex-wrap">
                    <p class="card-text">Заказтчик: №{{customer.id}}: {{customer.name}} {{customer.last_name}}</p>
                    <a href="tel:{{customer.phone}}" class="card-link">Телефон заказтчика</a>
                    <a href="tel:{{order.link_to_account}}" class="card-link">Ссылка на аккаунт</a>
                    <p class="card-text">Кол-во: {{order.amount}}</p>
                    <p class="card-text w-90">Начиная с '{{order.date_order_start}}' будут сделаны {{order.amount}}
                        отзывов, с частатой '{{frequence}}' отзыв(-а) за период '{{order.date_order_start}}-{{order.date_order_end}}'</p>
                    <label for="floatingTextarea1">Заметки</label>
                    <p class="form-control w-90" placeholder="Заметки закза" id="floatingTextarea1"
                              name="notes" style="height: 50px"disabled>{{order.notes}}</p>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled2" {% if order.prepayment == True %} checked {% endif %} disabled>
                      <label class="form-check-label" for="flexCheckDisabled2">
                        Предоплата
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled3" {% if order.paymant == True %} checked {% endif %}  disabled>
                      <label class="form-check-label" for="flexCheckDisabled3">
                          Оплата
                      </label>
                    </div>
                    <div>
                        {% for v in valid %}
                            {% if v.text_reviews_error %}
                            <div class="alert alert-warning w-75" role="alert">
                            Количество текстов для отзывов меньше чем заданое число отзывов
                             <button type="button" class="btn-close position-absolute top-50 end-0 translate-middle-y p-3" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% elif v.img_error %}
                            <div class="alert alert-warning w-75" role="alert">
                            Количество скриншотов не совпадает с числом отзывов
                             <button type="button" class="btn-close position-absolute top-50 end-0 translate-middle-y p-3" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% elif v.executors_error %}
                            <div class="alert alert-warning w-75" role="alert">
                            У вас нехватает исполнителей
                             <button type="button" class="btn-close position-absolute top-50 end-0 translate-middle-y p-3" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="card-footer mt-auto w-100">
                    <a type="button" class="btn btn-outline-success" href="/edit_order/{{order.id}}" style="margin-bottom:5px">Изменить</a>
                    <a type="button" class="btn btn-secondary" href="/divide_into_tasks/{{order.id}}" style="margin-bottom:5px">Разделить на задачи</a>
                    <a type="button" class="btn btn-primary" href="/edit_img/{{order.id}}" style="margin-bottom:5px">Добавить скриншот</a>
                </div>
            </div>
        </div>
<!--                    <img src="{{order.photo.url}}" alt="connect" style="max-height:300px">-->

    </div>
    <div class="card shadow mb-5 " style="max-width: 900px;">
        <div class="row g-0">
            <div class="col-md">
                <div class="card-header">
                    <h5 class="card-title">
                       №{{order.id}}
                    </h5>
                </div>
                <div class="card-body table-responsive">
                    {% include "tasks/tasks_layout.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}